:root{
    --christmas-tree-green-1:#047a07;
    --christmas-tree-green-2:#0b6e4f;
    --christmas-tree-green-3:#08a045;
    --christmas-tree-green-4:#073b3a;
    --christmas-tree-ornament-1:#ffba08;
    --christmas-tree-ornament-2:#4cc9f0;
    --christmas-tree-ornament-3:#ffffff;
    --christmas-tree-ornament-4:#f72585;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    flex-direction: column;
}

.christmas-tree-container{
    perspective: 400px;
    position: relative;
}

.christmas-tree-container .glow{
    position: absolute;
    top: -40px;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center,white,transparent 50px);
    animation: christmas-tree-glow 5s infinite linear;
}

.christmas-tree-container .shadow{
    position: absolute;
    top: 225px;
    left: -20px;
    width: 140px;
    height: 70px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
}

.christmas-tree{
    position: relative;
    margin-top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    transform-style: preserve-3d;
    animation: christmas-tree-rotate 10s infinite linear;
}

.christmas-tree .branches,
.christmas-tree .ornaments,
.christmas-tree .tree-top {
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.christmas-tree .branch{
    position: absolute;
    border-radius: 5px;
    background-color: var(--christmas-tree-green-1);
    transform-origin: center center;
}

.christmas-tree .branch:nth-child(3n + 2) {
    background-color: var(--christmas-tree-green-2);
}

.christmas-tree .branch:nth-child(3n + 1) {
    background-color: var(--christmas-tree-green-3);
}

.christmas-tree .branch:nth-child(4n + 2) {
    background-color: var(--christmas-tree-green-4);
}

.christmas-tree .ornament {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--christmas-tree-ornament-1);
    transform-origin: center center;
    transform-style: preserve-3d;
}

.christmas-tree .ornament:nth-child(4n+0){
    background-color: var(--christmas-tree-ornament-2);
}

.christmas-tree .ornament:nth-child(4n+1){
    background-color: var(--christmas-tree-ornament-3);
}

.christmas-tree .ornament:nth-child(4n+2){
    background-color: var(--christmas-tree-ornament-4);
}

.christmas-tree .star{
    transform-style: preserve-3d;
    transform: translateZ(225px) translateY(-4px) rotateX(-90deg);
}

.christmas-tree .star,
.christmas-tree .star:before,
.christmas-tree .star:after{
    position: absolute;
    content:"";
    height:0;
    width: 0;
    border-top: solid 10px yellow;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    top: 0;
    left: calc(50% - 15px);
}

.christmas-tree .star:before{
    transform: rotate(72deg);
    top: -11px;
    left: -15px;
}

.christmas-tree .star:after{
    transform: rotate(287deg);
    top: -11px;
    left: -15px;
}

@keyframes christmas-tree-rotate {
    0%{
        transform: rotateX(60deg) rotateZ(0);
    }
    99.99999%{
        transform: rotateX(60deg) rotateZ(360deg);
    }
}

@keyframes christmas-tree-glow {
    0%{
        transform: scale(1.1);
        opacity: 0.15;
    }

    50%{
        transform: scale(0.7);
        opacity: 0.25;
    }

    100%{
        transform: scale(1.1);
        opacity: 0.15;
    }
}

.message{
    font-family: "Playfair Display SC",sans-serif;
    font-size: 400%;
    text-align: center;
    color: #FFF;
    margin: 40px auto;
    height: 20%;
    display: inline-block;
}

.snowFlakes{
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    position: absolute;
    -webkit-animation: snow 40s linear infinite;
    -moz-animation: snow 40s linear infinite;
    animation: snow 40s linear infinite;
    z-index: -2;
}